#
# Copyright (c) 2020 Zebra Technologies Corporation and/or its affiliates. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Default configuration
enableClipboard=true
enableFactoryReset=true
enableInstallApps=true
enablePowerButtonInstantlyLock=true
enableSDcardUsage=true
enableAirplaneMode=true
enablePowerButtonInstantLockTurnOn=true
enableBTpairpopup=true
displayPowerButtonMenu=true
enablePowerButtonMenu=true
enableBTpairpopup=true
enableReducedSysSettings=false
enableAppSectionSettingUI=true
enableScreenshot=true
enableNotificationPullDown=true
enableNotificationSettingsIcon=true
enableQuickSettings=true
enableClearCredentialUI=true
enableInstallCredentialUI=true
enableRecentApps=true
enableSplitScreen=true
enableDataWarningAndLimit=true
enableCellularData=true
dozeenabledGms=true
dozeenabledNGms=false
enableFRP=true
appDetailNotifState=true
tetheringUIState=true
enableDndUI=true
enableMUUI=true
homeLongPress=1
datetimeUIState=true
enableRecentAppIcon=true
mGmsMode=0
enableStatusBar=true
EnablePowerButtonStatus=true
enableAutoCorr=true
