#
# Starting list of dynamically protected process names (apps or services)
# that will not be terminated on logout.
#
# This list can be edited on the runtime target, so if you add a service/app to
# this list be aware that the device may remove it.
#
