#
# List of static protected process names (apps or services) that will not
# be terminated on logout.
#
# This file is readonly on the target rootfs and elements can not be added or
# removed.
#
system
# Fix for EMBPD00163653: remove JP to enable Japanese IME to launch
# from settings menu.
#jp.co.omronsoft.openwnn

com.android.systemui
com.android.phone
com.symbol.msp
com.symbol.msp:remote
com.symbol.recovery
com.symbol.osx.proxyframework
com.symbol.osx.proxyframework:remote
com.symbol.osx.proxyframework.testclient
com.symbol.osx.securestorage.SecureStorageController
com.symbol.osx.securestorage
com.symbol.osx.proxyframework.helper
com.symbol.osx.proxyframework.settingsparser
com.symbol.osx.mdmadmin
com.symbol.osx.rootdetection.RootDetectionReciever
com.symbol.osx.threatdetectionservice
com.symbol.osx.rootdetectionservice
com.android.bluetooth
com.symbol.cu
com.symbol.pttexpress
com.symbol.msp
com.symbol.msp:remote
com.symbol.recovery
com.symbol.dataanalytics
com.symbol.mxmf.csp.batch
com.symbol.tool.stagenow

com.airwatch.androidagent
com.airwatch.admin.motorolamx

net.soti.mobicontrol.symbol.installer

