# Copyright (c) 2021 Zebra Technologies Corporation and/or its affiliates. All rights reserved.

on early-init

#Load osx dtsi  driver
    insmod /vendor/lib/modules/osx_feature_driver.ko

on init
    restorecon_recursive /sys
